
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #111;
     font-family: "Bebas Neue", sans-serif;
}

.card{
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #00feba, #5b548a);
<<<<<<< HEAD:main.css
    padding: 3rem 0;
=======
    padding: 3.5rem 3rem;
>>>>>>> f90d546 (Arrays):weather-app/main.css
    text-align: center;
    color: #fff;
}

.search{
    width: 100%;
}

.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.search-input input{
    width: 50%;
    height: 8%;
    padding: 1rem 1.4rem;
    border-radius: 32px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.search-input button{
    height: 8vh;
    width: 8vw;
    border-radius: 32px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input button img{
    height: 32px;
}

.weather-icon{
    width: 170px;
    margin-top: 3rem;
}

.weather h1{
    font-size: 6rem;
    font-weight: 500;
}

.weather h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: -10px;
    letter-spacing: 3px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1.4rem;
    margin-top: 3rem;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 0.8rem;
}

.humidity, .wind{
    font-size: 1.5rem;
    margin-top: -6px;
}

.col p:nth-child(2){
    letter-spacing: 3px;
}

.menu-hamburger{
    display: none;
}


@media screen and (max-width: 768px) {
.search{
    padding: 0 1rem;
}

.search-input{
    gap: 1rem;
}

.search-input input{
    width: 80%;
    height: 5vh;
}

.search-input button{
    height: 5vh;
    width: 20%;
}

.search-input button img{
    height: 24px;
}
}